.field
  = f.label :name
  = f.text_field :name
  
.field
  = f.label :description
  = f.text_area :description, :size=>"50x5"
  
.field
  = f.label :price
  = f.text_field :price
  
.field
  =f.label :menu_item_type_id
  =f.select :menu_item_type_id, @menu_item_types, { :include_blank => false }
  
.field
  = f.label :active
  = f.check_box :active

.actions
  = f.submit "Update"